"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "tomorrow-night-eighties"
    ]
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 13
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    softWrap: true
    invisibles: {}
  jslint:
    hideOnNoErrors: true
    validateOnChange: true
".html.mustache.text":
  editor:
    tabLength: 2
".basic.html.text":
  editor:
    tabLength: 2
".css.source":
  editor:
    tabLength: 2

